.recipe {
  font-size: .9em;
}
.imageSumary {
  display: flex;
}
.recipe h2 {
  text-align: center;
}
.imageWrapper {
  display: flex;
  position: relative;
  width: 556px;
  height: 370px;
  margin: 2rem auto;
}
.image {
  border-radius: 4px;
}
.instructions ol {
  padding: 0;
}
.instructions li::first-letter {
  text-transform: capitalize;
}
.ingredients li {
  height: 50px;
  display: flex;
  align-items: center;
}
.ingredients li img {
  max-height: 32px;
  width: 100px;
  object-fit: scale-down;
  margin-right: 1rem;
}
.ingredients li span::first-letter {
  text-transform: capitalize;
}
.recipe h4 span {
  margin-right: 1rem;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.tags span {
  margin: .4rem;
  font-size: .6rem;
  font-weight: bold;
  padding: 0 .4rem;
  border-radius: 4px;
  background-color: var(--regular-grey);
}
.credits {
  color: var(--hard-grey);
  font-size: .8rem;
}
@media(max-width: 750px) {
  .imageWrapper {
    width: 350px;
    height: 233px;
  }
}
@media(max-width: 400px) {
  .imageWrapper {
    width: 250px;
    height: 167px;
  }
}